<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<style>
    @font-face {
        font-family: "Times New Roman";
        src: url('C:/kassa/kassa/static/times.ttf')
    }

    body {
        font-family: "Times New Roman";
    }
</style>
{% for tt in xx %}
    <hr>
    <h3>{{ tt.date }} <br> dsfsdf {{ tt.excurs }} <br>  {{ tt.full_ticket_coast }}<br> {{ tt.ticket_pdf }}</h3>
{% endfor %}


{% for hh in pp %}
    <hr>
    <h3>Login: {{ hh.username }} <br> Имя: {{ hh.first_name }} <br> Фамилия: {{ hh.last_name }}</h3>
{% endfor %}

{% for pagi in zz %}
    <hr>
    <h3>Id: {{ pagi.id }}, Экскурсия: {{ pagi.name }}, Мест: {{ pagi.ticket_qty }}, Время
        экскурсии: {{ pagi.time }} dfdsf {{ pagi.pub_date }}</h3>


{% endfor %}
<h1>TEST</h1>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="btn" value="Отправить">
    </form>
</div>


</body>
</html>
